
.header-1{
    float: left;
    width: 33%;
    height: 100%;
    position: relative;
}
.times{
    float:right;
    color: black;
    font-size: 20px;
} 
.header-2{
    float: left;
    width: 33%;
    height: 100%;
}
.event-name{
    text-align: center;
}
.header-3{
    float: left;
    width: 33%;
    height: 100%;
}
.card-text{
    color: black;
}
.header{
    height: 100%;
    width: 100%;
}
.card{
    width: 60%;
    padding: 3px;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    
}
.card-title{
    color: black;
}
.card-header{
    max-width: 100%;
    max-height: 100%;
}
.card-body{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.likes-div{
    position:absolute;
    top: 20px;
    right: 16px;
    height: 30%;
    display: block;
}

.comment-div{
    height: 30%;
    position: absolute;
    top: 100px;
    right: 16px;
    float: right;
    display: block;
}
.comment-count{
    font-size: 20px;
}
.likes-icon{
    cursor: pointer;
}
.likes-count{
    font-size: 20px;
}
.circle {
    width: 10px;
    height: 10px;
    position:absolute;
    left: 6px;
    bottom:6.8px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    border: solid;
}
.tag{
    border: solid;
    border-radius: 15px;
    bottom:10px;
    display: inline-block;
    height:100%;
    width: fit-content;
    float: left;
    width: 10%;
}
.tagname{
    left: 15px;
    white-space: nowrap;
    position: absolute;
    bottom:.2px;
    margin-left: 2px;
    font-size: 15px;
    float: right;
    text-align: center;
}
.tags{
    position:absolute;
    bottom:10px;
    display: inline-block;
    height:15%;
    width: 100%;
}
.story{
    position:relative;
    height: 130px;
    width:130px;
    margin-left: auto;
    margin-right: auto;
}
.story-img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  vertical-align: middle;
  overflow: hidden;
  border: 3px solid purple;
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: blue;
}
.pfpimg{
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid purple;
  display: inline;
  position: absolute;
  left: 3px;
}
.username{
    position: absolute;
    color: black;
    left: 35px;
    font-size: 20px;
    display: inline;
}