.fol-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fol-popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    height: 80%;
    max-width: 640px;
    background-color: white;
    border-radius: 20px;
    border-style:solid;
    border-color: #96613d;
}
.fol-popup-close{
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;
    color: black;
}
.friendtab-popup{
    width: 100%;
    height: 10%;
    margin-bottom: 5px;
    cursor: pointer;
}
.follower-or-following{
    text-align: center;
    color:white
}
.fol-ppl-list{
    list-style-type: none;
    height: 90%;
    width: 100%;
}