.friendtab{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 3px;
    position: relative;
}
.friendtab-body{
    width:100%;
    height:100%;
}
.friendtab-username{
    position: absolute;
    left: 70px;
    font-size: 27px;
    color:black
}
.friendtab-pfp{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
    overflow: hidden;
}
.friendtab-fol-button{
    position: absolute;
    right:2px;
    max-width:30%;
    width: 30%;
    height:80%;
}
.friendtab-card-body{
    position:relative;
    width: 100%;
    height: 100%;
}
.fol-button{
    position:absolute;
    right:10px;
    bottom:6px
}
