.notification-popup-inner{
    position: relative;
    padding: 32px;
    width: 30%;
    height: 100%;
    margin-right: 0;
    max-width: 300px;
    background-color: white;
    border-style:solid;
    border-color: #96613d;
    animation: fade-in 0.2s ease-in;
}
@keyframes fade-in{
    0%{
        margin-right: -300px;
    }
    100%{
        transform: translateX(0px);
    }
}