.sidebar{
    height: 100vh;
    height: auto;
    width:30%;
    background-color:#707793;
    float: left;
  }

  .logout-button{
    height:2vh;
    width: 20%;
  }

  .settings-body{
    height:100vh;
    width:70%;
    background-color: #2E3047;
  }
  .outer{
    background-color:green;
    width: 100%;
  }
  .inner{
    background-color: blue;
    width: 100%;
  }