/* .followers-text{
    width: 30%;
    display: inline-block;
    left: 0;
    position: absolute;
    font-size: 30px;
    bottom: 0;
    cursor: pointer;
    color:white;
}
.following-text{
    width: 30%;
    display: inline-block;
    right: 30%;
    position: absolute;
    bottom: 0;
    font-size: 30px;
    cursor: pointer;
    color:white;
}
.username-social{
    width: 100%;
    position: absolute;
    display: inline-block;
    bottom: 0px;
    left: 25px;
    color:white
}
.profile-header{
    width: 100%;
    height: 33%;
    position: relative;
}

.body{
    width: 100%;
    height: 100vh;
}
.social-body{
    height:100%;
    width:85%;
    float:left;
    display: inline-block;
    background-color: #2E3047;
}
.pfp-username-div{
    width:30%;
    height:100%;
    display: inline-block;
    position: absolute;
}
.fol-div{
    width: 50%;
    height: 75%;
    display: inline-block;
    position:absolute;
    right: 10%;
}
.fol-popup-social{
    width: 50%;
    height:50%
}
.follow-button{
    position:relative;
    right: 3px;
    text-shadow: 0 0 3px #000;
}
 */

  .social-pfp-image{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.social-fol-info{
    white-space: pre-line;
    cursor: pointer;
}
.social-container{
   padding: 0;
   height: 100vh;
}