

  .social-pfp-image{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.social-fol-info{
    white-space: pre-line;
    cursor: pointer;
}
.social-container{
   padding: 0;
   height: 100vh;
}
.follow-request-icon{
  height: 40px;
}
.noti-card{
  margin-left: 20px;
  cursor: pointer;
}
.notification-badge{
  position:absolute;
  top: 0;
  right: 0;
  height: 30px;
  z-index: 1;
}
.notifications-number-text{
  position:absolute;
  top:2px;
  right: 11px;
  z-index:2;
}