

  .social-pfp-image{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.social-fol-info{
    white-space: pre-line;
    cursor: pointer;
}
.social-container{
   padding: 0;
   height: 100vh;
}